/* CSS Document */

@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/


/* 内外边距通常让各个浏览器样式的表现位置不同 */


/**{ margin:0px;padding: 0px;}*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	width: 100%;
	height: 100%;
}


/* 去掉各Table  cell 的边距并让其边重合 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* IE bug fixed: th 不继承 text-align*/

th {
	font-weight: normal;
	text-align: inherit;
}

fieldset,
img {
	border: 0px;
}


/* ie6 7 8(q) bug 显示为行内表现 */
blockquote,
q {
    quotes: none;
}

iframe {
	display: block;
}


/* 去掉列表前的标识, li 会继承 */

ol,
ul,
li {
	list-style: none;
}


/* 一致的 del 样式 */

del {
	text-decoration: line-through;
}


/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: bolder;
	;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}


/* 统一上标和下标 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

a,
input,
img {
	outline: none;
	text-decoration: none;
	blr: expression_r(this.onFocus=this.blur());
	blr: expression_r(this.onFocus=this.blur());
	-webkit-tap-highlight-color: transparent;
}


/* 默认不显示下划线，保持页面简洁 */

ins,
a {
	text-decoration: none;
}

textarea {
	resize: none;
}

em,
i {
	font-style: normal;
}


/*html5*/


/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}


/* HTML5 媒体文件跟 img 保持一致 */

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	zoom: 1;
}


/* 去掉 firefox 下此元素的边框 */

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}


/* 清理浮动 */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
	zoom: 1;
}


/* IE7 */


/* 字体 */

.ff-wy {
	font-family: '微软雅黑'
}

.ff-st {
	font-family: '宋体'
}

.ff-ar {
	font-family: Arial;
}

.cl {
	clear: left;
}

.cr {
	clear: right;
}

.cb {
	clear: both;
}

.clears {
	clear: both;
	line-height: 0px;
	overflow: hidden;
	font-size: 0px;
	height: 0px;
}


/* 设置内联, 减少浮动带来的bug */

.fl {
	float: left;
	_display: inline;
}

.fr {
	float: right;
	_display: inline;
}


/* 隐藏, 通常用来与 JS 配合 */

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.d_b {
	display: block;
}

.d_ib {
	display: inline-block;
}

.v_m {
	vertical-align: middle;
}

.nowrap {
	white-space: nowrap;
	overflow: hidden
}

.c_fff {
	color: #fff;
}

.c_333 {
	color: #333;
}

.c_666 {
	color: #666;
}

.c_999 {
	color: #999;
}

.c_ccc {
	color: #ccc;
}

li,
input,
img,
textarea,
select {
	vertical-align: middle;
}

body {
	font-family: "Microsoft Yahei", "宋体";
	width: 100%;
	height: 100%;
}


/* 要注意表单元素并不继承父级 font 的问题 */

button,
input,
select,
textarea {
	font: 12px/16px Verdana, Arial, "Microsoft Yahei", "宋体", \5b8b\4f53;
}


/*在IE的怪异模式下不居中*/

.section {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
}


/* 让链接在 hover 状态下显示下划线 */

a:hover {
	text-decoration: none;
}

[v-cloak] {
    display: none;
}