.window_boundingBox{position: fixed;box-shadow: 0 0 12px rgba(0,0,0,.5); border: 1px solid #000;background: #fff;z-index: 30;}
.window_boundingBox input{width: 50%;display: block;float: left;border: 0px;line-height: 35px;}
.window_header{background: #333;color: #fff;text-align: center;padding: 5px;font-size: 20px;}
.window_body{padding: 10px;/*height: 300px;width: 500px;*/}
.window_footer{/*position: absolute;bottom: 10px;padding-bottom: 10px;*/text-align: center;width: 100%;}
.window_closeBtn{position: absolute;right: 0;top: 0;padding: 5px 10px;font-size: 20px;background: blue;color: #FFFFFF;cursor: pointer;}
.window_alertBtn{width: 100px;position: absolute;bottom: 10px;left: 50%;margin-left: -50px;}
.window_confirmBtn{background: deepskyblue;}
.window_cancelBtn{background: cadetblue;}
.window_mask{width: 100%;height: 100%;background: #000;opacity: 0.3;position: absolute;left: 0;top: 0;}

.window_skin_a.window_boundingBox{box-shadow: none;border: 10px solid rgba(0,0,0,.3);border-radius: 8px;}
.window_skin_a .window_alertBtn{width: 50px;left: auto;right:20px;margin-left: 0px;background: red;border: none;color: #fff;padding: 10px;}
.window_skin_a .window_header{background: red;text-align: left;padding: 10px;font-weight: bold;}
.window_skin_a .window_closeBtn{width: 45px;height: 45px;border-radius: 45px;line-height: 45px;padding:0px;text-align: center; font-weight: bold;right: -15px;top: -15px;}
